<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{title.index}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/index.css" />
</head>

<body>

	<form action="/register" method="post">
		<div>
		  <label for="username">username</label>
		  <input type="text" name="username"/>
		</div>
		<div>
          <label for="password">password</label>
          <input type="password" name="password"/>
        </div>
		<div class="submit">
		  <button type="submit">Register</button>    
		</div>
	</form>

    <form action="/login" method="post">
        <div>
          <label for="username">username</label>
          <input type="text" name="username"/>
        </div>
        <div>
          <label for="password">password</label>
          <input type="password" name="password"/>
        </div>
        <div class="submit">
          <button type="submit">Login</button>    
        </div>
    </form>

</body>

</html>
